<%- include('bootheader') -%>
<%- include('menubar') -%>
    <h1> Quiz Answers!</h1>
    <p> The correct answer to question 1 is 6. Your answer is: <%=question1%>.<br>
      The correct answer to question 2 is Secular. Your answer is: <%=question2%>.<br>
      The correct answer to question 3 is Beethoven. Your answer is: <%=question3%>.<br>
      The correct answer to question 4 is Medieval. Your answer is: <%=question4%>.<br>
      The correct answer to question 5 is Harpsichord. Your answer is: <%=question5%>.<br>
      The correct answer to question 6 is Gronemeyer. Your answer is: <%=question6%>.<br>
      The correct answer to question 7 is Oratorio is sacred, but opera is secular. Your answer is: <%=question7%>.<br>
      The correct answers to question 8 are R&B and Jazz. Your answers are: <%=question8%>.<br>
    </p>


<%- include('bootfooter') -%>
